<nav>
  <form style="display: inline" action="/" method="get">
    <input type="submit" value="Home" />
  </form>
  <form style="display: inline" action="/new-message" method="get">
    <input type="submit" value="Create new message" />
  </form>
</nav>
